#ASSIGNMENT 4

1. Create a list which consist of tuples.

In [ ]:
list_with_tuples = [("hello", 2, "hy"), (3, "you"), (2, 5), (1, 2, "nj"), ("ok", "bye")]

print(f"list containing tuple : {list_with_tuples}")

list containing tuple : [('hello', 2, 'hy'), (3, 'you'), (2, 5), (1, 2, 'nj'), ('ok', 'bye')]

2. Create a tuple from multiple data types?

In [ ]:
x = 1, "hy",["hy", "hello"], True, 5, "hello", False, [1, 2]

my_tuple = tuple(x)
 
print(my_tuple)

(1, 'hy', ['hy', 'hello'], True, 5, 'hello', False, [1, 2])

3. Create a tuple which contains numbers from 1 to 20 and replace every even values with letter ‘e’ ?

In [ ]:
a_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

a_list = list(a_tuple)
 
for i in range(len(a_list)):
    if (a_list[i] %2 == 0):
        a_list[i] = "e"

print(tuple(a_list))

(1, 'e', 3, 'e', 5, 'e', 7, 'e', 9, 'e', 11, 'e', 13, 'e', 15, 'e', 17, 'e', 19, 'e')

4. Create a tuple with months in a year and add/append names of days in a week into it?

In [ ]:
tuple1 = ('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')

list1 = list(tuple1)
list2 = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

x = list1 + list2

print(tuple(x))

('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')